/* Body styles */
body {
  color: #434455;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400px;
  font-style: normal;

  /* Властивості по дефолту */
  /* font-size: 16px;
font-weight: 400;
font-style: normal;
color: black;
background-color: white;
  */
}

a {
  color: currentColor; /*Наслідування кольору */
  text-decoration: none; /*Прибираємо підкреслення */
}

ul,
ol {
  list-style-type: none; /* Прибираємо маркери */
}

button {
  font-family: inherit; /* Наслідування властивості */
  color: currentColor;
  cursor: pointer;
}

/* header */
.header {
  background-color: white;
}
.header-nav {
}
.logo,
.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-accent {
  color: #2e2f42;
}
.footer-accent {
  color: #f4f4fd;
}
.header-list {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-list .header-link:hover,
.header-list .header-link:focus {
  color: #404bbf;
}
.header-item {
}
.header-link {
}
.header-address {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.header-address-list .header-address-link:hover,
.header-address-list .header-address-link:focus {
  color: #404bbf;
}

.header-address-list {
}
.header-address-item {
}
.header-address-link {
}

/* hero */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-button {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*  directions */
.direct {
}
.direct-title,
.team-titel,
.portfolio-titel {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.direct-list {
}
.direct-item {
}
.direct-subtitle,
.team-subtitel,
.portfolio-subtitel {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.direct-desc,
.team-desc,
.portfolio-desc {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Team */
.team {
  background-color: #f4f4fd;
}

.team-list {
}
.team-list li {
  color: #2e2f42;
}
.team-item {
  background: #fff;
}
.team-img {
}

/* Portfolio */
.portfolio {
  background: #fff;
}

.portfolio-list {
}

.portfolio-item {
  background-color: #fff;
}
.portfolio-img {
}

/* Foote */
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.footer-desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
