/* Задаємо box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Властивості по дефолту */
/* font-size: 16px;
font-weight: 400;
font-style: normal;
color: black;
background-color: white;
  */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; /* Прибираємо зовнішні відступи */
}

ul,
ol {
  list-style-type: none; /* Прибираємо маркери */
  padding: 0;
  margin: 0;
}

a {
  color: currentColor; /*Наслідування кольору */
  text-decoration: none; /*Прибираємо підкреслення */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  font-family: inherit; /* Наслідування властивості */
  color: currentColor;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Властивості контейнеру */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*.sectoin {
  padding-top: 120px;
  padding-bottom: 120px;
}*/
/* 
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}*/

/* Body styles */
body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400px;
  font-style: normal;
  margin: 0;
}

/* header */
.header {
  background-color: white;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  margin-right: 332px;
  align-items: center;
}
.logo,
.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo {
  margin-right: 76px;
}
.header-accent {
  color: #2e2f42;
}
.footer-accent {
  color: #f4f4fd;
}
.header-list {
  display: flex;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-list .header-link:hover,
.header-list .header-link:focus {
  color: #404bbf;
}
.header-item {
  margin-right: 40px;
}
.header-item:last-child {
  margin-right: 0;
}
.header-link {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  color: #404bbf;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  bottom: -1px;
}
.header-address {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.header-address-list .header-address-link:hover,
.header-address-list .header-address-link:focus {
  color: #404bbf;
}

.header-address-list {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-item {
  margin-right: 40px;
}
.header-address-item:last-child {
  margin-right: 0;
}
.header-address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* hero */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}
.hero-container {
}
.hero-title {
  max-width: 496px;
  margin-bottom: 48px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hero-button {
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  align-items: flex-start;
  font-weight: 500;
  color: #fff;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  margin: auto;

  transition: background-colo 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* margin-top: 100px;
  margin-bottom: 16px;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;*/
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*  directions */
.direct {
  background-color: #fff;
  padding: 120px 0;
}

.direct-title,
.team-titel,
.portfolio-titel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.team-titel {
  width: 162px;
}
.portfolio-titel {
  width: 218px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.direct-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.direct-item {
  width: 264px;
}
.direct-subtitle,
.team-subtitel,
.portfolio-subtitel {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}
.direct-desc,
.team-desc,
.portfolio-desc {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Team */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-list li {
  color: #2e2f42;
}
.team-item {
  background: #fff;
  border-top: none;
  background-color: #fff;
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.div-team {
  padding: 32px 0;
  text-align: center;
}
.team-img {
}

/* Portfolio */
.portfolio {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  background-color: #fff;
  width: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .overlay {
  transform: translateY(0%);
}
.div-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-img {
  padding-bottom: 32px;
}
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--CLOUD, #f4f4fd);

  line-height: 1.5;
  letter-spacing: 0.02em;
  background: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Foote */
.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.footer-logo-desc {
  margin-right: 120px;
}
.footer-social-desc {
  color: var(--WHITE, #fff);

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.footer-social {
  display: inline-block;
  align-items: flex-start;
  gap: 16px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
/* icons */

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.social-icon {
  fill: currentColor;
}
.specific-icons {
}

.direct-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
}
